body
{
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
}

header, footer, aside, nav {
    background-color:#333;
}
header, footer {
    text-align:center;
}
header {
    font-size:46px;
}
footer {
    font-size:10px;
}
content {
    font-size:14px;
}
navigation {
    font-size:12px;
}
sidebar {
    font-size:10px;
}

[class$=r] {
    background-color: magenta;
}

[class~="a"] {
    background-color: blue;
}